<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>

        <li >
            <a href="/admin/posts"><i class="fa fa-fw fa-table"></i> Posts List</a>
        </li>

        <li>
            <a href="/admin/posts/new"><i class="fa fa-fw fa-table"></i> Posts New</a>
        </li>
        <li >
            <a href="/admin/users"><i class="fa fa-fw fa-table"></i> Users List</a>
        </li>

        <li>
            <a href="/admin/users/new"><i class="fa fa-fw fa-table"></i> Users New</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->