<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ baseUrl() }}/public/css/admin/bootstrap.css" rel="stylesheet">
    <link href="{{ baseUrl() }}/public/css/admin/sb-admin.css" rel="stylesheet">
    <link href="{{ baseUrl() }}/public/css/admin/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/public/css/imageselect/imgareaselect-default.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
 
        {% block content %}
        {% endblock %}


    <script src="{{ baseUrl() }}/public/js/admin/jquery.js"></script>
    <script src="{{ baseUrl() }}/public/js/admin/bootstrap.js"></script>
    <script src="{{ baseUrl() }}/public/js/admin/jquery.imgareaselect.min.js"></script>


<script type="text/javascript">
   function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_edit')
                    .attr('src', e.target.result)
                    .width("100%")
		            .css("display", "block");
            };
            reader.readAsDataURL(input.files[0]);}}

$("#img_edit").on('load', function () {
            $width  = $('#img_edit').width();
            $height  = $('#img_edit').height();
            $('input[name="width"]').val($width);
            $('input[name="height"]').val($height);});            

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('img.image_select').imgAreaSelect({
            handles: true,
            aspectRatio: '1:1',
            onSelectEnd: function (img, selection) {
            $('input[name="x1"]').val(selection.x1);
            $('input[name="y1"]').val(selection.y1);
            $('input[name="x2"]').val(selection.x2);
            $('input[name="y2"]').val(selection.y2);
        }
        });
    });
</script>

</body></html>
