<div class="row">
<div class="medium-7 large-6 columns">
<h1>Close Your Eyes and Open Your Mind</h1>
<p class="subheader">There is beauty in space, and it is orderly. There 
is no weather, and there is regularity. It is predictable. Everything in
 space obeys the laws of physics. If you know these laws, and obey them,
 space will treat you kindly.</p>
<button class="button">Take a Tour</button>
<button class="button">Start a free trial</button>
</div>
<div class="show-for-large large-3 columns">
<img class="thumbnail" src="http://placehold.it/270x250" alt="picture of space">
</div>
<div class="medium-5 large-3 columns">
<div class="callout secondary">
<form action="" method="get">
	<div class="row">
		<div class="small-12 columns">
			<label for="author">Поиск по автору:
				<select name="id" id="author">                    
	          				<option value="">Укажите автора</option>
					{% for user in users %}	          				
			            	<option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
			    </select>
			</label>
		</div>
		<div class="small-12 columns">
			<label>Выбирите категорию
     <select name="category" id="category">
          <option value="">Укажите катергорию</option>
					{% for category in categories %}	          				
			            	<option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
		        </select>
			</label>

		<input type="hidden" name="action" value="search">
		<button type="submit" class="button">Search Now!</button>
	</div>
	</div>
</form>
</div>
</div>
</div>