	<div class="medium-12 columns">

<div class="row column">
<p class="lead"><i class="fa fa-smile-o"></i>  Самые смешные шутки в категории 
<span> &nbsp;{{ category }}&nbsp; </span></p>
</div>
<div class="jokes-column">

		{% for joke in jokes %}	
				<div class="callout">
					<p>
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x text-grey"></i>
					  <i class="fa fa-user-md fa-stack-1x text-blue	"></i>
					</span>

					{{joke.author}}&nbsp;&nbsp;&nbsp;&nbsp;{{joke.id}}</p>
					<p></p>
					<a href='/jokes/{{joke.id}}'><p class="lead">{{joke.title}}</p></a>
					<p class="subheader">{{joke.text}}</p>

			<p>
			{% for category in joke.categories %}

					<div class="category"><i class="fa fa-bookmark-o fa-1"></i> <a href="/jokes/categories/{{category.id}}">{{category.name}}</div>

			{% endfor %}
			</p>
				</div>				
		{% endfor %}


</div>
	</div>