<div class="three-marker">


		{% for joke in jokes %}	
			{% if joke.index in [3, 6, 9] %}
				<div class="callout">
					<p>
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x text-grey"></i>
					  <i class="fa fa-user-md fa-stack-1x text-blue	"></i>
					</span>

					{{joke.author}}&nbsp;&nbsp;&nbsp;&nbsp;{{joke.id}}</p>
					<p></p>
					<p class="lead">{{joke.title}}</p>
					<p class="subheader">{{joke.text}}</p>
				</div>
		{% endif %}
		{% endfor %}


</div>