		{% for joke in jokes %}	
				<div class="callout">
					<p>
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x text-grey"></i>
					  <i class="fa fa-user-md fa-stack-1x text-blue	"></i>
					</span>

					{{joke.author}}&nbsp;&nbsp;&nbsp;&nbsp;</p>
					<p></p>
					<a href='/jokes/{{joke.id}}'><p class="lead">{{joke.title}}</p></a>
					<p class="subheader">{{joke.text}}</p>

			<p>
			{% for category in joke.categories %}
					<div class="category"><i class="fa fa-bookmark-o fa-1"></i> <a href="/jokes/categories/{{category.id}}">{{category.name}}</div>
			{% endfor %}
			</p>
				</div>				
		{% endfor %}