<div class="row medium-8 large-7 columns">

<h3 id="comments">Comments</h3>

{% for comment in comments %}
	<!-- COMMENT -->
	<div class="comment">
		<section class="top">
			<h6 class="byline">
				<a href="#"><i class="icon"></i>
				{{comment.username}}</a> 
				<small>said 
					<span class="data">
						{{comment.created_at}}
					</span>
			</small>
			</h6>
		</section>
		<section class="content">
			<p>{{comment.text}} </p>
		</section>
	</div>

{% endfor %}

<div class="callout2">

 <form action="{{ baseUrl() }}/post/comment/new" method="POST">

    <div class="large-12 columns">
      <label>Username

        <input type="text" name="username" placeholder="Enter your username ..." />
      </label>
    </div>


    <div class="large-12 columns">
      <label>URL
        <input type="url" name="url" value="http://" />
      </label>
    </div>

    <div class="large-12 columns">
      <label>Username
        <input type="email" name="email" placeholder="Enter your email ..." />
      </label>
    </div>

    <div class="large-12 columns">
      <label>Textarea Label
        <textarea rows="6" name="text" placeholder="Enter you message ..."></textarea>
      </label>
    </div>

    <div class="large-12 columns">
      <label>
    <input type="hidden" name="post_id" value="{{post.id}}" />
    <input type="hidden" name="redirect" value="{{redirect}}#comments" />
	<input class="small button" value="SEND ENQUIRY" type="submit">
      </label>
    </div>




</form>
</div>

</div>




