<div class="row">
    <div class="col-lg-4">

        <form class="form-signin" method="post" action="{{ baseUrl() }}/admin/users/edit/{{user.id}}">

            {% if error is not empty %}
                <h3 class="text-center"><span class="label label-danger">
                    {% if error == 1 %}
                      Empty Username
                    {% elseif error == 2 %}
                        Wrong Email Format or Empty
                    {% endif %}
                </span></h3>
            {% endif %}


            {% if success is not empty %}
                <h3 class="text-center"><span class="label label-success">
                    {% if success == 1 %}
                      User has successfully updated!
                    {% endif %}
                    {% if success == 2 %}
                      Image has successfully updated!
                    {% endif %}

                </span></h3>
            {% endif %}


            <h2 class="form-signin-heading">Edit <strong>{{user.username}}</strong></h2><br />

            <label for="username" class="control-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" value="{{user.username}}" required><br />

            <label for="email" class="control-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" value="{{user.email}}" required><br />

            <div class="form-group" >
                <label>Description</label>
                <textarea class="form-control" rows="15" name="description">{{user.description}}</textarea>
            </div>

            <label for="password" class="control-label">Password</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="New Password"><br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Update User</button>
        </form>
    </div>
    <div class="col-lg-1">    

    </div>    
    <div class="col-lg-7">    
<br><br><br><br><br>
<img src="{{ baseUrl() }}/public/images/trumb_{{foto}}">
<br><br>
<a href="http://slim.self/admin/images/edit/foto/{{user.id}}" class="btn btn-primary btn-lg"><span class="fa fa-plus"></span> Edit Foto</a>

    </div>        
</div>

<h2>{{user.username}} Images</h2>
<br>
<br>
<a href="http://slim.self/admin/images/new" class="btn btn-primary btn-lg"><span class="fa fa-plus"></span> Upload New Image</a>
<br>

<div class="container">
    <div class="row">

{% for image in images %}     
        <div class="col-md-3 col-sm-4 col-xs-6 image_div"><img class="img-responsive admin_table" src="http://slim.self/public/images/{{image.name}}" /><br>
        <a href="http://slim.self/admin/images/edit/{{image.id}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="http://slim.self/admin/images/delete/{{image.id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>        
        </div>
{% endfor %}                

        </div>        
    </div>    
</div>

</div>